@charset "utf-8";
*,*:before,*:after{
	font-family: Arial;
	margin: 0;
	padding: 0;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.h10{
	height: 10px;
}
.logo{
	height: 135px;
	background: url('../images/dengluzhuce-icon.jpg') no-repeat;
}